body {
  overflow: hidden; /* Hide scrollbars */
}
.snakes {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}


/* ----make color---- */

.center {
    margin: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.color {
    transition: .5s;
    margin: 5px;
    width: 50px;
    height: 40px;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}

.color:hover {
    width: 40px;
    height: 30px;
    border: 4px solid rgb(121, 26, 215);
    border-radius: 3px;
}


/* ----- sneck box------ */

.main {
    width: 800px;
    height: 600px;
    background-image: linear-gradient(rgb(7, 150, 7), rgb(51, 221, 51));
    margin: auto;
    margin-top: -65px;
    border: 10px solid orange;
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(22, 1fr);
    grid-template-columns: repeat(22, 1fr);
    /* top: 100px;
    z-index: 59px;
    left: 300px; */
}

.food {
    background: linear-gradient(orange, yellow);
    border-radius: 10px;
}

.head {
    background-image: linear-gradient(rgb(185, 20, 36), rgb(195, 23, 112));
    border-radius: 4px;
}

.line {
    background: linear-gradient(blue, cyan);
    border-radius: 50px;
    border: 2px solid gray;
}


/* ----- score style ----- */

.score h3 {
    font-weight: 900;
    color: #fff;
    font-style: italic;
    padding: 1px;
    line-height: 0;
}

.score {
    position: absolute;
    left: 5px;
    top: 10px;
    border: 1px solid #fff;
    background: rgb(17, 50, 236);
    width: 150px;
    height: 60px;
}


/* ------ game over-------- */

#gameOver {
    font-size: 100px;
    color: red;
    text-align: center;
    margin-top: -350px;
    display: none;
    background-color: gray;
}

#see {
    margin: 1px;
    text-align: center;
    color: #fff;
    padding: 5px;
}

a {
    color: rgba(4, 4, 246, 0.77);
    font-weight: bold;
}


/* responsive */

.responsive {
    display: none;
    bottom: 0px;
    position: absolute;
    width: 600px;
}
